
# Ignorar directorios y archivos de desarrollo
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# Ignorar archivos de Git y configuración de IDE
.git/
.gitignore
.idea/
.vscode/

# Ignorar el propio archivo .dockerignore y el README
.dockerignore
README.md
cloudbuild.yaml