# Archivos de caché de Python
__pycache__/
*.pyc

# Ignorar directorios y archivos de Git
.git
.gitignore

# Archivos de configuración y documentación no necesarios en la imagen
cloudbuild.yaml
README.md
